* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  background-color: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

}

h1 {
  padding: 2rem 0 0.2rem 0;
}

.header-container {

}

.logo {
  width: 125px;
  margin: 0 auto;
}

.btn-strong-cyan,
.btn-light-blue {
  border-radius: 50px;
  color: aliceblue;
  padding: 2px 10px;
  border: none;
}

.btn-strong-cyan:hover,
.btn-light-blue:hover {
  color: aliceblue;
} 

.btn-strong-cyan {
  background-color: hsl(171, 66%, 44%);
}

.btn-light-blue {
  background-color: hsl(233, 100%, 69%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
