* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Element Selectors */
html {
  background-color: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: hsl(210, 10%, 33%);
}
h1 {
  padding: 2rem 0 0.2rem 0;
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 0.8rem;
}

/* Header Section */
.header-container {
  width: 80%
}

.logo {
  width: 125px;
  margin: 0 auto;
}

.btn-strong-cyan,
.btn-light-blue {
  border-radius: 50px;
  color: aliceblue;
  padding: 2px 10px;
  border: none;
}

.btn-strong-cyan:hover,
.btn-light-blue:hover {
  color: aliceblue;
} 

.btn-strong-cyan {
  background-color: hsl(171, 66%, 44%);
}

.btn-light-blue {
  background-color: hsl(233, 100%, 69%);
}

/* Main Section */
.keep-track {
  padding-bottom: 8rem;
}
.top {
  width: 80%;
}

.computer-img {
  position: relative;
  left: -5%;
}

.right {
  padding-right: 5rem;
  padding-top: 3rem;
  width: 40%;
}
/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
